<h1>Eat Da Burger!!!</h1>
<img src="/assets/images/burger.png"><br>

<div class="container">
    <div id="burgertoeat">
        {{#each burger}}
        {{#unless devoured}}
        {{> burger-block devoured=false}}
        {{/unless}}
        {{/each}}
    </div>
    <div id="burgereaten">
        {{#each burger}}
        {{#if devoured}}
        <ul>
            {{burger_name}}
        </ul>
        {{/if}}
        {{/each}}
    </div>
</div>

<br><br>
<div class="container">
    <div class="card">
        <form class="create-form">
            <div class="form-group">
                <label for="burger"></label>
                <input type="text" id="burger" name="name">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
<h2>Enter a burger you want to eat.</h2>