
.clearfix::after {
  content: "";
  clear: both;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 0px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

body {
  background: rgba(245, 179, 57, 0.781);
  text-align: center;
}

img{
    width: 200px;
    height: 200px;
}

.change-devoured{
    display: inline-block;
}

#burgertoeat{
    width: 50%;
    float: left;
    margin-bottom: 5px;
}

#burgereaten{
    width: 50%;
    float: left;
    margin-bottom: 5px;
}

#burgerform{
  margin-top: 15px;
}